<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Playpal // Dashboard - Summary</title>

  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&family=Inter:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- custom css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- font awesome -->
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.0/css/all.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.0/css/sharp-solid.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.0/css/sharp-regular.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.0/css/sharp-light.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.0/css/duotone.css" />
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-semibold fs-4" href="/">
        <i class="fa-regular fa-planet-ringed"></i>&nbsp;<span style="font-family: 'Chakra Petch';">PLAYPAL</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active fw-semibold fs-5" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-semibold fs-5" href="/talents">Talents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-semibold fs-5" href="/games">Games</a>
          </li>
          <li class="nav-item">
            <a id="dashboard-navbar" class="nav-link active fw-semibold fs-5" href="">Dashboard</a>
          </li>
        </ul>
        <div class="btn-group" id="profile-menu">
          <button type="button" class="btn btn-outline-link fw-semibold" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{{ url_for('static', filename=user_info.pfp_default) }}" class="rounded-circle" width="30"
              height="30" loading="lazy" />
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <div>
              <li style="cursor: pointer;"><a class="dropdown-item" data-bs-toggle="modal"
                  data-bs-target="#modal-account"><i class="fa-solid fa-user-pen"></i>&nbsp;&nbsp;Account
                  Settings</a>
              </li>
            </div>
            <div id="talent-settings">
              <hr class="dropdown-divider">
              <li style="cursor: pointer;"><a class="dropdown-item" data-bs-toggle="modal"
                  data-bs-target="#modal-talent"><i class="fa-solid fa-user-gear"></i>&nbsp;&nbsp;Talent
                  Settings</a>
              </li>
            </div>
            <div>
              <hr class="dropdown-divider">
              <li style="cursor: pointer;"><a class="dropdown-item" data-bs-toggle="modal"
                  data-bs-target="#modal-delete"><i class="fa-solid fa-user-xmark"></i>&nbsp;&nbsp;Delete Account</a>
              </li>
              <li>
            </div>
            <div>
              <hr class="dropdown-divider">
              </li>
              <li><button class="dropdown-item" onclick="sign_out()"><i
                    class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;Sign
                  Out</button>
              </li>
            </div>
          </ul>
        </div>

        <a href="/login" class="btn btn-outline-light fw-semibold fs-5 px-4 py-0" id="login-navbar">LOG IN</a>
      </div>
    </div>
  </nav>

  <!-- modals -->
  <div id="modal-account" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content w-75 mx-auto p-2">
        <div class="modal-header flex-column border-0">
          <img src="{{ url_for('static', filename=user_info.pfp_default) }}" class="rounded-circle" width="100"
            height="100" loading="lazy" />
          <h4 class="modal-title fw-semibold text-center mt-2">{{ user_info.fullname }}</h4>
        </div>
        <div class="modal-body border-0 px-3 py-0">
          <div class="mb-3">
            <label for="fullname" class="form-label fw-semibold">Full name</label>
            <input type="text" class="form-control" id="fullname" placeholder="New name"
              value="{{ user_info.fullname }}">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label fw-semibold">Username</label>
            <input type="text" class="form-control" id="username" placeholder="New username"
              value="{{ user_info.username }}">
          </div>
          <div class="mb-3">
            <label for="avatar" class="form-label fw-semibold">Profile picture</label>
            <input class="form-control" type="file" id="avatar" accept="image/*" value="{{ user_info.pfp_default }}">
          </div>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">CANCEL</button>
          <button class="btn btn-dark" onclick="update_account()">SAVE CHANGES</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-talent" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content w-75 h-75 mx-auto p-2">
        <div class="modal-header flex-column border-0">
          <img src="/static/img/game-controller.png" alt="controller icon" loading="lazy">
          <h4 class="modal-title fw-semibold text-center mt-2">Talent Settings</h4>
        </div>
        <div class="modal-body border-0 px-3 py-0">
          <div class="mb-3">
            <label for="game" class="form-label fw-semibold">Game</label>
            <select class="form-select" id="game">
              <option selected hidden value="{{ user_info.game }}">{{ user_info.game }}</option>
              <option value="Apex Legends">Apex Legends</option>
              <option value="Call of Duty Mobile">Call of Duty Mobile</option>
              <option value="Dota 2">Dota 2</option>
              <option value="Fall Guys">Fall Guys</option>
              <option value="Free Fire">Free Fire</option>
              <option value="Genshin Impact">Genshin Impact</option>
              <option value="League of Legends">League of Legends</option>
              <option value="Mobile Legends">Mobile Legends</option>
              <option value="Point Blank">Point Blank</option>
              <option value="Pokémon Unite">Pokémon Unite</option>
              <option value="PUBG Mobile">PUBG Mobile</option>
              <option value="Valorant">Valorant</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label fw-semibold">Unit price</label>
            <select class="form-select" id="price">
              <option selected hidden value="{{ user_info.price }}">{{ user_info.unit }}</option>
              <option value="10000">10k/match</option>
              <option value="20000">20k/match</option>
              <option value="30000">30k/match</option>
              <option value="40000">40k/30min</option>
              <option value="50000">50k/30min</option>
              <option value="60000">60k/hour</option>
              <option value="80000">80k/hour</option>
              <option value="100000">100k/hour</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="rank" class="form-label fw-semibold">Rank</label>
            <input type="text" class="form-control" id="rank" placeholder="Your in-game rank"
              value="{{ user_info.rank }}">
          </div>
          <div class="mb-3">
            <label for="since" class="form-label fw-semibold">Played since</label>
            <input type="number" class="form-control" id="since" placeholder="The first year you played" min="2000"
              max="9999" value="{{ user_info.since }}">
          </div>
          <div class="mb-3">
            <label for="region" class="form-label fw-semibold">Region</label>
            <input type="text" class="form-control" id="region" placeholder="Your region"
              value="{{ user_info.region }}">
          </div>
          <div class="mb-3">
            <label for="platform" class="form-label fw-semibold">Platform</label>
            <select class="form-select" id="platform">
              <option selected hidden value="{{ user_info.platform }}">{{ user_info.platform }}</option>
              <option value="PC">PC</option>
              <option value="Mobile">Mobile</option>
              <option value="Console">Console</option>
            </select>
          </div>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">CANCEL</button>
          <button class="btn btn-dark" onclick="update_talent()">SAVE CHANGES</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-delete" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content w-75 mx-auto p-2">
        <div class="modal-header flex-column border-0">
          <img src="/static/img/question-mark.png" alt="question mark icon" loading="lazy">
          <h4 class="modal-title fw-semibold text-center mt-2">Account Deletion</h4>
        </div>
        <div class="modal-body border-0 p-0">
          <p class="text-center">Continue to delete your account? <br> This action cannot be undone.</p>
        </div>
        <div class="modal-footer border-0 justify-content-center">
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">CANCEL</button>
          <button type="button" class="btn btn-danger" onclick="delete_account()">CONFIRM</button>
        </div>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="d-flex">

    <!-- sidebar -->
    <div class="d-flex flex-column flex-shrink-0 bg-body-tertiary vh-100 position-fixed" style="width: 18rem;">
      <ul class="nav nav-pills nav-flush flex-column mb-auto mt-5 text-start">
        <li class="nav-item">
          <a href="/talent-summary" class="nav-link py-3 rounded-0 text-light bg-dark">
            <i class="fs-3 fa-solid fa-chart-mixed"></i>&nbsp;&nbsp;&nbsp;<span class="fs-4 fw-medium">Summary</span>
          </a>
        </li>
        <li>
          <a href="/talent-history" class="nav-link py-3 rounded-0 text-dark">
            <i class="fs-3 fa-solid fa-solid fa-clock-rotate-left"></i>&nbsp;&nbsp;&nbsp;<span
              class="fs-4 fw-medium">History</span>
          </a>
        </li>
        <li>
          <a href="talent-orders" class="nav-link py-3 rounded-0 text-dark">
            <i class="fs-3 fa-regular fa-cart-circle-check"></i>&nbsp;&nbsp;<span class="fs-4 fw-medium">Orders</span>
          </a>
        </li>
      </ul>
    </div>

    <!-- content -->
    <div class="w-75" style="margin-left: 21rem;">
      <h1 class="mt-5 pb-5">Summary</h1>
      <div class="row mt-5">
        <div class="col">
          <div class="card text-center p-2 bg-warning-subtle border-0">
            <h1 class="display-3 fw-medium"><i class="fa-solid fa-star"></i>&nbsp;4.6
            </h1>
            <p class="fs-5 fw-semibold text-secondary lh-sm">Overall rating</p>
          </div>
        </div>
        <div class="col-5">
          <div class="card text-center p-2 bg-success-subtle border-0">
            <h1 class="display-3 fw-medium"><i class="fa-solid fa-sack-dollar"></i>&nbsp;210000
            </h1>
            <p class="fs-5 fw-semibold text-secondary lh-sm">Total income</p>
          </div>
        </div>
        <div class="col">
          <div class="card text-center p-2 bg-info-subtle border-0">
            <h1 class="display-3 fw-medium"><i class="fa-solid fa-cart-arrow-down"></i>&nbsp;13
            </h1>
            <p class="fs-5 fw-semibold text-secondary lh-sm">Total orders</p>
          </div>
        </div>

      </div>
    </div>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>

    <!-- custom js -->
    <script>
      {% if user_info.role == 'customer' %}
      $("#dashboard-navbar").attr("href", "/customer-summary")
      $("#login-navbar").addClass('visually-hidden')
      $("#talent-settings").addClass('visually-hidden')
      {% elif user_info.role == 'talent' %}
      $("#dashboard-navbar").attr("href", "/talent-summary")
      $("#login-navbar").addClass('visually-hidden')
      {% else %}
      $("#dashboard-navbar").addClass('visually-hidden')
      $("#profile-menu").addClass('visually-hidden')
      {% endif %}
    </script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>